.btn {
  background-color: lightblue;
}

.generic-bg {
  background-color: rgb(227,192,199);
}

.spinner {
    display: none;
    justify-content: center;
    align-items: center;
  
    position: fixed;
    background: #7a73738f;
    width: 100%;
    height: 100%;
    top: 0;
  }
  
  .spinner-img {
    width: 100px;
    height: 100px;
    animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
